<div class="object">
    <div class="object-rope"></div>
    <div class="object-shape">
      Coming <span class="soon">Soon</span>
    </div>
</div>

<div class="content">
  <%= image_tag("Logo1.jpg", alt: "image", class:'logo') %>
  
  <h1><b>Site is under construction. </b></h1>
</div>