        <!-- shop-details -->
        <section class="shop-details sec-pad">
            <div class="auto-container">
                <div class="product-details-content">
                    <div class="row align-items-center clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="slider-inner">
                                <div class="bxslider">
                                    <div class="slider-content">
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/images/resource/shop/shop-details-1.jpg" class="lightbox-image" data-fancybox="gallery"><%= image_tag 'shop-details-1.jpg' %></a></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="product-details">
                                <h2>T-bone steak</h2>
                                <div class="customer-review clearfix">
                                    <ul class="rating-box clearfix">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <div class="reviews"><a href="product-single.html">(2 customer review)</a></div>
                                </div>
                                <div class="item-price"><h3>120$</h3></div>
                                <div class="text">
                                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                                <div class="other-links">
                                    <ul class="category list clearfix">
                                        <li>Category:</li>
                                        <li><a href="single-shop-1.html">Beef</a></li>
                                    </ul>
                                    <ul class="tags list clearfix">
                                        <li>Tags:</li>
                                        <li><a href="single-shop-1.html">Food</a>,</li>
                                        <li><a href="single-shop-1.html">Sausage</a>,</li>
                                        <li><a href="single-shop-1.html">Lamb</a></li>
                                    </ul>
                                </div>
                                <div class="othre-options clearfix">
                                    <div class="item-quantity">
                                        <input class="quantity-spinner" type="text" value="1" name="quantity">
                                    </div>
                                    <div class="btn-box"><button type="button" class="theme-btn">Add to cart</button></div>
                                </div>
                                <ul class="share-option clearfix">
                                    <li>Share is Caring:</li>
                                    <li><a href="shop-details.html"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="shop-details.html"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="shop-details.html"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="shop-details.html"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-discription">
                    <div class="tabs-box">
                        <div class="tab-btn-box">
                            <ul class="tab-btns tab-buttons clearfix">
                                <li class="tab-btn active-btn" data-tab="#tab-1">Description</li>
                                <li class="tab-btn" data-tab="#tab-2">Reviews (2)</li>
                            </ul>
                        </div>
                        <div class="tabs-content">
                            <div class="tab active-tab" id="tab-1">
                                <div class="text">
                                    <h3>About T-bone steak</h3>
                                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                            <div class="tab" id="tab-2">
                                <div class="text">
                                    <h3>About T-bone steak</h3>
                                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-product">
                    <div class="sec-title style-two centred">
                        <span>See all products</span>
                        <h2>Related Products</h2>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                            <div class="shop-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <%= image_tag 'shop-10.jpg' %>
                                        <ul class="list clearfix">
                                            <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
                                            <li><a href="shop-details.html">add to cart</a></li>
                                        </ul>
                                    </figure>
                                    <div class="lower-content">
                                        <h6><a href="shop-details.html">Fresho Mutton</a></h6>
                                        <ul class="rating clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <span class="price">$ 380.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                            <div class="shop-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <%= image_tag 'shop-11.jpg' %>
                                        <ul class="list clearfix">
                                            <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
                                            <li><a href="shop-details.html">add to cart</a></li>
                                        </ul>
                                    </figure>
                                    <div class="lower-content">
                                        <h6><a href="shop-details.html">Beef Osso Buco</a></h6>
                                        <ul class="rating clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <span class="price">$ 450.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                            <div class="shop-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <%= image_tag 'shop-12.jpg' %>
                                        <ul class="list clearfix">
                                            <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
                                            <li><a href="shop-details.html">add to cart</a></li>
                                        </ul>
                                    </figure>
                                    <div class="lower-content">
                                        <h6><a href="shop-details.html">T-bone steak</a></h6>
                                        <ul class="rating clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <span class="price">$ 350.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- shop-details end -->
