<!-- news-section -->
<section class="news-section" id="blog">
  <div class="auto-container">
    <div class="sec-title style-two centred">
      <span>Blog & News</span>
      <h2>Latest Blog Posts</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-6 col-sm-12 news-block">
        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500m">
          <div class="inner-box">
            <figure class="image-box"><a href="blog-details.html"><%= image_tag 'news-1.jpg' %></a></figure>
            <div class="lower-content">
              <ul class="post-info clearfix">
                <li><a href="index.html">by Leonard</a>,</li>
                <li>1 week ago</li>
              </ul>
              <h4><a href="blog-details.html">Seiusmod tempor incididunt ut labore et dolore magna</a></h4>
              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <div class="link"><a href="blog-details.html">READ MORE<i class="flaticon-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 news-block">
        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500m">
          <div class="inner-box">
            <figure class="image-box"><a href="blog-details.html"><%= image_tag 'news-2.jpg' %></a></figure>
            <div class="lower-content">
              <ul class="post-info clearfix">
                <li><a href="index.html">by Leonard</a>,</li>
                <li>1 week ago</li>
              </ul>
              <h4><a href="blog-details.html">Fagna aliqua Ut enim ad minim veniam, quis nostrud</a></h4>
              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <div class="link"><a href="blog-details.html">READ MORE<i class="flaticon-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 news-block">
        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500m">
          <div class="inner-box">
            <figure class="image-box"><a href="blog-details.html"><%= image_tag 'news-3.jpg' %></a></figure>
            <div class="lower-content">
              <ul class="post-info clearfix">
                <li><a href="index.html">by Leonard</a>,</li>
                <li>1 week ago</li>
              </ul>
              <h4><a href="blog-details.html">Golor sitmet consectetur adipisi cing eiusmod tempo</a></h4>
              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <div class="link"><a href="blog-details.html">READ MORE<i class="flaticon-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- news-section end -->