<section class="portfolio-section">
  <div class="auto-container">
    <div class="single-item-carousel owl-carousel owl-theme owl-dots-none">
      <div class="portfolio-block-one">
        <div class="inner-box">
          <figure class="image-box"><%= image_tag 'portfolio-1.jpg' %></figure>
          <div class="lower-content">
            <div class="inner">
              <span>Meat</span>
              <h4><a href="index.html">Pork tenderloin</a></h4>
              <div class="link"><a href="index.html"><i class="flaticon-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-block-one">
        <div class="inner-box">
          <figure class="image-box"><%= image_tag 'portfolio-2.jpg' %></figure>
          <div class="lower-content">
            <div class="inner">
              <span>Meat</span>
              <h4><a href="index.html">Pork tenderloin</a></h4>
              <div class="link"><a href="index.html"><i class="flaticon-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-block-one">
        <div class="inner-box">
          <figure class="image-box"><%= image_tag 'portfolio-2.jpg' %></figure>
          <div class="lower-content">
            <div class="inner">
              <span>Meat</span>
              <h4><a href="index.html">Pork tenderloin</a></h4>
              <div class="link"><a href="index.html"><i class="flaticon-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>