<!-- shop-section -->
<section class="shop-section" id="shop">
  <div class="auto-container">
    <div class="sec-title style-two text-center">
      <span>See all products</span>
      <h2>Featured Prodcuts</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
        <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <figure class="image-box">
            <%= image_tag 'shop-1.jpg' %>
            <ul class="list clearfix">
              <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
              <li><a href="shop-details.html">add to cart</a></li>
            </ul>
          </figure>
          <div class="lower-content">
            <h6><a href="shop-details.html">Whole Tenderloin</a></h6>
            <ul class="rating clearfix">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
            <span class="price">$ 400.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
      <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <figure class="image-box">
            <%= image_tag 'shop-2.jpg' %>
            <ul class="list clearfix">
              <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
              <li><a href="shop-details.html">add to cart</a></li>
            </ul>
          </figure>
          <div class="lower-content">
            <h6><a href="shop-details.html">Whole Fryer</a></h6>
            <ul class="rating clearfix">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
            <span class="price">$ 450.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
      <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <figure class="image-box">
            <%= image_tag 'shop-3.jpg' %>
            <ul class="list clearfix">
              <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
              <li><a href="shop-details.html">add to cart</a></li>
            </ul>
          </figure>
          <div class="lower-content">
            <h6><a href="shop-details.html">Rib Steak</a></h6>
            <ul class="rating clearfix">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
            <span class="price">$ 500.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
      <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <figure class="image-box">
            <%= image_tag 'shop-4.jpg' %>                         
            <ul class="list clearfix">
              <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
              <li><a href="shop-details.html">add to cart</a></li>
            </ul>
          </figure>
          <div class="lower-content">
            <h6><a href="shop-details.html">Chuck Roast</a></h6>
            <ul class="rating clearfix">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
            <span class="price">$ 380.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="more-btn centred">
    <a href="shop-1.html" class="theme-btn">Shop Now</a>
  </div>
</section>
<!-- shop-section end -->