<!-- funfact-section -->
<section class="funfact-section centred bg-color-2">
  <div class="auto-container">
    <div class="counter-inner wow slideInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
      <div class="line"></div>
      <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
          <div class="counter-block-one">
            <div class="inner-box">
              <div class="icon-box"><i class="flaticon-notes"></i></div>
              <div class="count-outer count-box">
                <span class="count-text" data-speed="1500" data-stop="2490">0</span>
              </div>
              <span class="text">Finished Projects</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
          <div class="counter-block-one">
            <div class="inner-box">
              <div class="icon-box"><i class="flaticon-flag"></i></div>
              <div class="count-outer count-box">
                <span class="count-text" data-speed="1500" data-stop="7410">0</span>
              </div>
              <span class="text">Creative Materials</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
          <div class="counter-block-one">
            <div class="inner-box">
              <div class="icon-box"><i class="flaticon-medal"></i></div>
              <div class="count-outer count-box">
                <span class="count-text" data-speed="1500" data-stop="5240">0</span>
              </div>
              <span class="text">Experienced Masters</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
          <div class="counter-block-one">
            <div class="inner-box">
              <div class="icon-box"><i class="flaticon-speaker"></i></div>
              <div class="count-outer count-box">
                <span class="count-text" data-speed="1500" data-stop="250">0</span>
              </div>
              <span class="text">Professional Awards</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- funfact-section end -->
