<!-- team-section -->
<section class="team-section centred" id="team">
  <div class="outer-container">
    <div class="pattern-layer">
      <div class="pattern-1" style="background-image: url(shape-1.png);"></div>
      <div class="pattern-2" style="background-image: url(shape-2.png);"></div>
    </div>
    <div class="anim-icon">
      <div class="icon icon-1 float-bob-y" style="background-image: url(anim-icon-1.png);"></div>
      <div class="icon icon-2" style="background-image: url(assets/anim-icon-2.png);"></div>
    </div>
    <div class="auto-container">
      <div class="sec-title style-two">
        <span>Meet Our Team</span>
        <h2>Our Creative Team</h2>
      </div>
      <div class="four-item-carousel owl-carousel owl-theme owl-nav-none">
        <div class="team-block-one">
          <div class="inner-box">
            <figure class="image-box">
              <%= image_tag 'team-1.jpg' %>
              <ul class="social-links clearfix">
                <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                <li><a href="index.html"><i class="fab fa-instagram"></i></a></li>
                <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
              </ul>
            </figure>
            <div class="lower-content">
              <h3><a href="index.html">David Smith</a></h3>
              <p>Design Expert</p>
            </div>
          </div>
        </div>
        <div class="team-block-one">
          <div class="inner-box">
            <figure class="image-box">
              <%= image_tag 'team-2.jpg' %>
              <ul class="social-links clearfix">
                <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                <li><a href="index.html"><i class="fab fa-instagram"></i></a></li>
                <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
              </ul>
            </figure>
            <div class="lower-content">
              <h3><a href="index.html">Barbara Smith</a></h3>
              <p>painting director</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team-section end -->
