<!-- testimonial-section -->
<section class="testimonial-section">
  <div class="auto-container">
    <div class="sec-title style-two">
      <span>Testimonials</span>
      <h2>Why People Believe in Us!</h2>
    </div>
    <div class="two-column-carousel owl-carousel owl-theme owl-dots-none">
      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="icon-box"><i class="flaticon-quote"></i></div>
          <p>Slore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
          <div class="author-box">
            <figure class="image-box"><%= image_tag 'testimonial-1.png' %></figure>
            <h5>Richard K. Le</h5>
            <span class="designation">HD Manager</span>
          </div>
        </div>
      </div>
      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="icon-box"><i class="flaticon-quote"></i></div>
          <p>Asi enim ad minim veniam, quis nostrud exerci tation uLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
          <div class="author-box">
            <figure class="image-box"><%= image_tag 'testimonial-2.png' %></figure>
            <h5>Donnell J. Creech</h5>
            <span class="designation">Sonographer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial-section end -->

