<!-- about-section -->
<section class="about-section" id="about">
  <div class="auto-container">
    <div class="inner-container clearfix">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12 video-column">
          <div id="video_block_1">
            <div class="video-inner" style="background-image: url(assets/about-1.jpg);">
              <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image video-btn" data-caption=""><i class="fas fa-play"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
          <div id="content_block_1">
            <div class="content-box">
              <div class="sec-title">
                <span>About Us</span>
                <h2>We Provide Best Meat</h2>
              </div>
              <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              </div>
              <ul class="list clearfix">
                <li>100% Organic Meat</li>
                <li>Payment Securation</li>
              </ul>
              <div class="btn-box">
                <%= link_to 'View More <i class="fas fa-long-arrow-alt-right"></i>'.html_safe, about_path, class: 'theme-btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about-section end -->