<!-- main-footer -->
<footer class="main-footer">
  <div class="auto-container">
    <div class="footer-top">
      <div class="widget-section">
        <div class="row clearfix">
          <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget logo-widget">
              <figure class="footer-logo"><a href="index.html"><%= image_tag 'final-logo.jpg' %></a></figure>
              <div class="text">
                <p>The probability of someone needing your services or wantinLorem ipsum dolor sit amet, consectetur adipisicing </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget contact-widget">
              <ul class="info clearfix">
                <li>
                  <i class="fa fa-phone" aria-hidden="true"> </i> <p style="text-align: left; "> Call Us</p>
                  <h5><a href="tel:7799747770">7799747770</a></h5>
                </li>
                <li>
                  <i class="fa fa-map-marker" aria-hidden="true"> </i> <p style="text-align: left; ">Address</p>
                  <h5>Near Hanuman Junction,Hyd Road, Vinayak Nagar, Nizamabad, 503001</h5>
                </li>
              </ul>
              <ul class="social-links clearfix"> 
                <li><a href="index.html"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="index.html"><i class="fab fa-twitter"></i> </a></li>
                <li><a href="index.html"><i class="fab fa-google-plus-g" aria-hidden="true"></i></i></a></li>
                <li><a href="index.html"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom clearfix">
      <div class="copyright pull-left"><h5>&copy;2021 CopyRight www.indurfresh.com. All rights reserved.</h5></div>
      <ul class="footer-nav pull-right clearfix">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Contact', contacts_path %></li>
      </ul>
    </div>
  </div>
</footer>